{{ if eq .chezmoi.os "windows" }}

{{ end }}

[merge]
command = "code"
args = ["--wait", "-m", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[edit]
command = "code"
args = ["--wait"]
[diff]
command = "code"
args = ["--wait", "-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
