[user]
	email = andrew@robbinsa.me
	name = Andrew Robbins
	signingKey = A273EC67743954117BCC521D35DDF5BA9EA5E940
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[core]
{{ if eq .chezmoi.os "windows" }}
	editor = \"{{ .chezmoi.homeDir }}\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	longpaths = true
	autocrlf = input
	symlinks = true
[gpg]
	program = {{ .chezmoi.homeDir }}\\scoop\\apps\\gnupg\\current\\bin\\gpg.exe
[diff]
	tool = winmerge
[merge]
	tool = winmerge
[credential "https://github.com"]
	helper =
	helper = !'{{ .chezmoi.homeDir }}\\scoop\\apps\\gh\\current\\bin\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !'{{ .chezmoi.homeDir }}\\scoop\\apps\\gh\\current\\bin\\gh.exe' auth git-credential
{{ else if eq .chezmoi.os "linux" }}
    editor = $EDITOR
	longpaths = true
[gpg]
    program = gpg
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
{{ end }}
[difftool]
	prompt = true
[mergetool]
	prompt = true
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[i18n]
	filesEncoding = utf-8
